html {
    --yt-spec-base-background: var(--bg-primary) !important;
}

ytd-app {
    background-color: var(--bg-primary) !important;
}

#frosted-glass.with-chipbar.ytd-app {
  background-color: var(--bg-primary) !important;
}

.ytSearchboxComponentInputBoxDark {
  background-color: var(--bg-transparent) !important;
}